@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    //height: 100%;
}

body{
    background-image: linear-gradient(to bottom, #3C2F80, #26B6C6, #6ACFC9, #AEE8CA, #FAEDDA);
    background-attachment: fixed;
}


main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #3C2F80 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3C2F80;
    text-align: center;
    text-shadow: 1px 1px 0px #281f5477  ;
}

h2{
    color: #26B6C6;
}

p{
    text-align: justify;
}